############################################################
# Allwinner H3 / sunxi mainline
############################################################

#ccflags-y += -DCONFIG_SSV_SUPPORT_AES_ASM
ccflags-y += -DCONFIG_SSV_BUILD_AS_ONE_KO
ccflags-y += -DSSV_DISABLE_SCHED_SETSCHEDULER
ccflags-y += -DCONFIG_FW_ALIGNMENT_CHECK
ccflags-y += -DCONFIG_PLATFORM_SDIO_OUTPUT_TIMING=3
ccflags-y += -DCONFIG_PLATFORM_SDIO_BLOCK_SIZE=128
ccflags-y += -DCONFIG_SSV_RSSI

############################################################
# Build defaults. These can be overridden by the caller.
############################################################
SSV_ARCH ?= arm
SSV_USE_LOCAL_CRYPTO ?= 0
KMODDESTDIR = $(MODDESTDIR)
