##################################################
# H3 mainline Armbian
# WIFI-CONFIGURATION
##################################################

firmware_path = /lib/firmware/
external_firmware_name = ssv6x5x-sw.bin

ignore_efuse_mac = 0
mac_address_mode = 2
mac_output_path = /data/wifimac

volt_regulator = 1

hw_cap_ampdu_rx = on
hw_cap_ampdu_tx = on
hw_cap_tdls = off

use_wpa2_only = 1
